---
import { getCollection } from "astro:content";
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Mahyar Jahani-nasab</div>
    <div class="py-2">
      <text class="text-lg">
        I'm a researcher specializing in <b>scientific machine learning</b>. In addition to this, I have experience in topics such as self-supervised learning, generative models, NLP, and machine vision.
        I am passionate about creating new algorithms and developing frameworks and apps that make the use of AI easier in various applications, such as engineering
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/mahyar-jahaninasab-050342115" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Recent Research Endeavors {"</>"}</div>
  </div>

  <HorizontalCard
    title="Assured Neuro-symbolic Sequential Decision Making with Physics Informed Neural Networks"
    img="/lightbulb.webp"
    desc="Working on making new AI sustem that combines thinking in clear steps with learning from real-world physics using physics informed machine learning and neuro-symbolic."
    url="#"
    badge="Ph.D."
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Redesigning RNNs for Fully Physics-Informed Loss Function"
    img="/MIRNN.webp"
    desc="Training Recurrent Neural Networks (RNNs) solely through physics-informed loss functions presents significant challenges,  necessitating numerical derivatives between blocks. In this work, we introduce structural modifications to RNNs that eliminate the dependency on numerical derivatives, allowing for the formation of purely physics-informed loss functions using backpropagation. The archived version of this paper is currently accessible, with the source code set for release upon official publication."
    url="https://link.springer.com/article/10.1007/s00466-025-02691-5"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Enhancing Convergence Speed of PINN"
    img="/sakhtar.webp"
    desc="Streamline your training with PINNs! Dive into our newly published paper and access the source code to double the convergence speed and boost the success rate of your Physics-Informed Neural Networks."
    url="https://github.com/mahyar-jahaninasab/Feature-Enforcing-PINN"
    badge="OSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
