---import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="list_of_publications">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Published</div>
    <hr style="margin-top: 10px; border: 2px solid blue;">
  </div>
  <div class="mb-10 text-justify">
    <ul class="list-disc pl-6">
      <li>
        <a href="https://doi.org/10.1038/s41598-024-74711-y" target="_blank">
          <strong>Mahyar Jahani-nasab</strong>, Bijarchi Mohammad Ali, Enhancing convergence speed with feature enforcing physics-informed neural networks using boundary conditions as prior knowledge. Sci Rep 14, 23836 (2024).
        </a>
      </li>
      <li>
        <a href="https://doi.org/10.3390/en16135185" target="_blank">
          <strong>Mahyar Jahaninasab</strong>, Ehsan Taheran, S. Alireza Zarabadi, Mohammadreza Aghaei, and Ali Rajabpour. 2023. "A Novel Approach for Reducing Feature Space Dimensionality and Developing a Universal Machine Learning Model for Coated Tubes in Cross-Flow Heat Exchangers" Energies 16, no. 13: 5185.
        </a>
      </li>
      <li>
        <a href="https://doi.org/10.1016/j.physb.2024.416400" target="_blank">
          Rezaeian, Mohsen, Yaser Bahari, Davood Bandi, Arash Montazeri, <strong>Mahyar Jahaninasab</strong>, and Ali Rajabpour. "Thermal conductivity of boronated-holey graphene under mechanical strain: Insights from molecular dynamics." Physica B: Condensed Matter 693 (2024): 416400.
        </a>
      </li>
    </ul>
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Under Review</div>
    <hr style="margin-top: 10px; border: 2px solid blue;">
  </div>
  <div class="mb-10 text-justify">
    <ul class="list-disc pl-6">
      <li>
        <a href="https://arxiv.org/abs/2409.10388" target="_blank">
          <strong>Mahyar Jahani-nasab</strong>, and Mohamad Ali Bijarchi. "Revising the Structure of Recurrent Neural Networks to Eliminate Numerical Derivatives in Forming Physics Informed Loss Terms with Respect to Time." arXiv preprint arXiv:2409.10388 (2024).
        </a>
      </li>
      <li>
        <a>
          Mirmahmoud Seyedi, Mohammad Mahdi Dodangeh, <strong>Mahyar Jahani-nasab</strong>, Mohamad Ali Bijarchi, Mohammad Behshad Shafii "Optimization of Heat Transfer and Pressure Drop in a Corrugated Channel Using Pattern Search and Neural Network with Different Arc Configurations for a Turbulent Flow"
        </a>
      </li>
    </ul>
  </div>
</BaseLayout>
