---
import TimeLineElement from "../components/cv/TimeLine.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="professional_resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
    <hr style="margin-top: 10px; border: 2px solid blue;">
  </div>
  <div class="mb-10 text-justify">
    AI researcher and developer specializing in scientific machine learning. Proven track record in advancing algorithmic innovation. Expert in designing and optimizing AI models, enhancing predictive modeling, and leading cross-functional projects. Committed to using AI to solve complex challenges.
  </div>
  


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
    <hr style="margin-top: 10px; border: 2px solid blue;">
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Research and Deployment of Machine Learning Models"
      subtitle="From 2024 to 2025 at Steel Manufacturing, led by Dr. Shafii."
    >
      Responsible for developing and deploying predictive models, optimizing algorithms, and collaborating with cross-functional teams to enhance project outcomes.
    </TimeLineElement>
  </div>



  <div class="mb-5 skills-section" style="margin-top: 50px;">
    <div class="text-3xl w-full font-bold">Skills</div>
    <hr style="margin-top: 10px; border: 2px solid blue;">
  </div>
  <div class="mx-6">
    <div class="skills-container">
      <div class="skill-box" style="background-color: #e7f0fe;">Python</div>
      <div class="skill-box" style="background-color: #e7f0fe;">NumPy</div>
      <div class="skill-box" style="background-color: #e7f0fe;">Git</div>
      <div class="skill-box" style="background-color: #e7f0fe;">PyTorch</div>
      <div class="skill-box" style="background-color: #e7f0fe;">pandas</div>
      <div class="skill-box" style="background-color: #e7f0fe;">Docker</div>
      <div class="skill-box" style="background-color: #e7f0fe;">sklearn</div>
      <div class="skill-box" style="background-color: #e7f0fe;">FastAPI</div>
      <div class="skill-box" style="background-color: #e7f0fe;">English (IELTS 7.5)</div>
    </div>
  </div>
  
  <style>
    .skills-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .skill-box {
      background-color: #e7f0fe; /* Professional blue shade */
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      width: auto; /* Adjust width as needed */
    }
  </style>

<div class="mb-5 education-section" style="margin-top: 50px;">
  <div class="text-3xl w-full font-bold">Related AI Projects</div>
  <hr style="margin-top: 10px; border: 2px solid blue;">
</div>
<div class="mx-6">
  <div class="education-container">
    <ul class="list-disc">
      <li>Improving Physics-Informed Neural Network (PINN) algorithm by increasing convergence probability and reducing training time by 2x. <a href="https://github.com/mahyar-jahaninasab/Feature-Enforcing-PINN"><strong>Link</strong></a></li>
      <li>Three generative models were built from scratch—Variational Autoencoders (VAEs), Generative Adversarial Networks (GANs), and Denoising Diffusion Probabilistic Models (DDPMs). The results demonstrate the superior performance of DDPMs in generating new images, outperforming the other two models. <a href="https://github.com/mahyar-jahaninasab/DL_codes/tree/main/Generative_models"><strong>Link</strong></a></li>
      <li>A patch was created to add an adapter to the RoBERTa repository, resulting in improved training accuracy and faster convergence speed. <a href="https://github.com/mahyar-jahaninasab/DL_codes/tree/main/Transformers/adapter-patch"><strong>Link</strong></a></li>
      <li>Applied beam search generation and truncated both inputs and targets to a fixed length for backpropagation, training a character RNN language model on the Harry Potter book series. <a href="https://github.com/mahyar-jahaninasab/DL_codes/tree/main/Transformers"><strong>Link</strong></a></li>
      <li>Implemented image captioning using Hugging Face models by combining the Vision Transformer (ViT) model and the DistilGPT-2 model, and rewriting transformers from scratch. <a href="https://github.com/mahyar-jahaninasab/DL_codes/tree/main/Transformers"><strong>Link</strong></a></li>
      <li>The BYOL (Bootstrap Your Own Latent) method was implemented to compare the results of a classification task before and after pretraining the model with BYOL, demonstrating an improvement in the training process. <a href="https://github.com/mahyar-jahaninasab/DL_codes/blob/main/self-supervised/BYOL.ipynb"><strong>Link</strong></a></li>
      <li>OpenAI's CLIP (Contrastive Language-Image Pretraining) model was used for zero-shot learning in recognizing objects. <a href="https://github.com/mahyar-jahaninasab/DL_codes/blob/main/self-supervised/CLIP_ObjectDetection.ipynb"><strong>Link</strong></a></li>
      <li>Developed an image classification project using a CNN in PyTorch and a U-Net for semantic segmentation on the CARLA dataset with sparse categorical cross-entropy. <a href="https://github.com/mahyar-jahaninasab/DL_codes/tree/main/CNN"><strong>Link</strong></a></li>
    </ul>
  </div>
</div>




<div class="mb-5 education-section" style="margin-top: 50px;">
  <div class="text-3xl w-full font-bold">Related Publications</div>
  <hr style="margin-top: 10px; border: 2px solid blue;">
</div>
<div class="mx-6">
  <div class="education-container">
    <div class="flex justify-between items-center">
      <div>
        <a href="https://arxiv.org/abs/2409.10388" target="_blank">
          <strong>Mahyar Jahani-nasab</strong>, and Mohamad Ali Bijarchi. "Revising the Structure of Recurrent Neural Networks to Eliminate Numerical Derivatives in Forming Physics Informed Loss Terms with Respect to Time." arXiv preprint arXiv:2409.10388 (2024).
        </a>
      </div>
    </div>
  </div>
</div>
<div class="mb-5 education-section" style="margin-top: 50px;">
  <div class="text-3xl w-full font-bold">Education</div>
  <hr style="margin-top: 10px; border: 2px solid blue;">
</div>
<div class="mx-6">
  <div class="education-container">
    <div class="flex justify-between items-center">
      <div>
        <h3 class="text-xl font-semibold">M.Sc. in Mechanical Engineering</h3>
        <p>Sharif University of Technology, Tehran, Iran</p>
        <p>Minor: Scientific Machine Learning</p>
      </div>
      <div class="text-right">
        <p>2024</p>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <div>
        <h3 class="text-xl font-semibold">B.Sc. in Mechanical Engineering</h3>
        <p>Imam Khomeini International University, Qazvin, Iran</p>
      </div>
      <div class="text-right">
        <p>2022</p>
      </div>
    </div>
  </div>
</div>

</BaseLayout>
